#gameover  {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#gameover h2,
#gameover p {
    margin-bottom: 1rem;
}

#wgameover p {
    color: #8435de;
}
#gameover img {
    margin-top: 2rem;
    height: 200px;
    margin-bottom: 20px;
    animation: imgleft 1s;
}

.btn1 {
    animation: botao 1s infinite;
}

@keyframes imgleft{
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes botao{
    0% {
        box-shadow: 0 0 0 0;
    }
    100% {
        box-shadow:-2px -1px 20px 0px rgb(250, 250, 250)
    }
    0% {
        box-shadow: 0 0 0 0;
    }
}