.option {
    background-color: rgb(77, 27, 124);
    border-radius: 1rem;
    padding: .2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: .4s;
}

.option:hover {
    background-color: rgb(141, 43, 232);
    transition: .5s;
}

#options-container .option p {
    margin: 0;
    padding: 10px;
}

.correct {
    background-color: chartreuse;
    font-weight: bold;
}

.wrong {
    opacity: .4;
    background-color: rgb(112, 51, 170)
}